
img{
    height: 50vh;
    width: 40vw;
    transition: transform 800ms ease;
}
img:hover{
    opacity: 0.8;
    transform: scale(1.2);
}
.h-100{
    margin-top: 13vh;
    margin: 2vh;
    border-color: rgb(255, 255, 255);
    
}
#cardClass{
margin-top: 10vh;
margin-bottom: 8vh;
}
#imgRoom{
    overflow:hidden ;
    height:50vh ;
    width: 40vw;
    margin: 3vh ;
}
