.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@import 'https://fonts.googleapis.com/css?family=PT+Sans:400,700';

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	font-family: 'PT Sans';
	font-size: 18px;
}
.tiles {
	padding: 6vh 16vw;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	position: relative;
}
.tile {
	margin: 15px;
	cursor: pointer;
	overflow: hidden;
	width: 18vw;
	height: 18vw;

}
img {
  width: 100%;
  transition: transform 500ms ease;
 
}
img :hover {
  transform: scale(1.1);
}
